{% extends 'projects/base.html' %}
{% load static %}

{% block content %}

    <div class="container mb-10">
        <div class="row">

        {% for project in projects %}

            <div class="col-md-4">
                <div class="card mb-4">

                    <div class="card-header text-center">
                        <h5>{{ project.title }}</h5>
                    </div>

                    <img class="img-fluid mx-auto mt-4 mb-2" src="{% static project.image %}" alt="{{ project.description }}" width="120" height="120">

                    <div class="card-body">
                        <p class="card-text">{{ project.summary }}</p>
                        <a class="btn btn-outline-primary" href="{% url 'projects:project_detail' project.pk %}">Read more</a>
                    </div>



                </div>
            </div>

        {% endfor %}

        </div>
    </div>

{% endblock %}