<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #f8f9fa;">

        <div class="container">

            <div class="row">

                <!-- Top banner -->
                <div class="col-12 bg-light py-5" >
                    <h2 class="text-center text-dark">Basic Project Portfolio</h2>
                </div>

                <!-- Main body -->
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>