<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/projects/css/custom.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class="container" id="page-container">

            <div class="row">

                <!-- Top banner -->
                <div class="col-12 bg-light py-5" >
                    <h2 class="text-center text-dark">Basic Portfolio</h2>
                </div>

                <!-- Main body -->
                {% block content %}
                {% endblock %}
            </div>

            <footer class="footer"">
                <div class="container">
                    <span class="text-dark">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span>
                </div>
            </footer>

        </div>

    </body>
</html>