{% extends 'projects/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>

            <!-- Image -->
            <div class="col-md-2 text-center pt-4">
                <img class="img-fluid" src="{% static project.image %}" alt="{{ project.description }}" width="120" height="120">
            </div>

            <!-- Text -->
            <div class="col-md-8 pt-2">
                <h4 class="pb-3">{{ project.title }}</h4>
                <h5>About the project</h5>
                <p>{{ project.description|linebreaksbr }}</p>
                <h5 class="pt-2">Built with:</h5>
                <p>{{ project.technology }}</p>
            </div>

        </div>
    </div>

{% endblock %}